*{
  margin: 0;
  padding: 0;
}

.headerPart {
  background-color: #545151;
  height: 180px;
  display: flex;
}
.details {
  padding: 15px;
}
.scName {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #fff;
}
.scDetails {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3BC3FF;
}
.systemName {
  font-size: 35px;
}
.candidateName {
  font-size: 25px;
}
.info {
  font-size: 19px;
}
.moreDetails {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
.subjectDetails {
  display: flex;
  flex-direction: column;
  line-height: 24px;
  padding-right: 20px;
}
.subject {
  font-size: 20px;
}
.subjectName {
  font-size: 23px;
  color: #3BC3FF;
}


.profilePhoto  {
  background-color: #ffff;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
}