* {
    margin: 0;
    padding: 0;
}
.topContainer {
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.headerContent {
    /* border: 1px solid blue; */
    height: 150px;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.headerInfo {
    /* border: 1px solid red; */
    width: 100%;
    background-color: #747474;
    padding: 0 15px;
}
.headerImg {
    border: 1px solid black;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sysCanTitle {
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.sysCanInfo {
    color: #0ED3FF;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}
.sysCode {
    font-size: 38px;
}