

.headerPart {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lora', serif;
    font-size: 20px;
    border: 1px solid transparent;
    box-shadow: 0 0 8px 0 #A9A7A7;
}
.mainContainer {
    /* border: 2px solid black; */
    position: absolute;
    width: 100%;
    height: calc(100% - (45px + 130px));
}
.controlers {
    /* border-top: 1px solid black; */
    height: 130px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px -2px #A9A7A7;
    padding: 0;
}
.checkOptions {
    /* border: 1px solid black; */
    height: 60px;
    top: 0;
    position: absolute;
    padding: 9px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}
.submitBtn {
    /* border: 1px solid black;  */
    position: absolute;
    height: 70px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.readyButton {
    height: 40px;
    width: 180px;
    background: #4bccff77;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: not-allowed;
}
.inst {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.controlCheck {
    box-shadow: 0 0 5px 1px #AFAFAF;
}
